@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --red-color: hsl(5, 81%, 56%);
  --blue-color: hsl(219, 80%, 62%);
  --green-color: hsl(151, 85%, 33%);
  --yellow-color: hsl(45, 96%, 50%);

  --red-color-light: hsl(4, 82%, 90%);
  --blue-color-light: hsl(219, 82%, 90%);
  --green-color-light: hsl(151, 87%, 90%);
  --yellow-color-light: hsl(45, 97%, 90%);
}