.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3rem;
}
.header{
    padding: 1rem ;
    position: relative;
    z-index: 1000;
    font-size: 3.2rem;
    /* margin-left: 1em; */
  }

  .textWhite {
    color: white;
  }
  
.para{
    padding:1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin: 0 1rem;
}

.socialMedia a{
    color: #000;
    font-size: 3rem;
    margin: 0 1rem;
    transition: color 0.3s linear;
}

.socialMediaIcon {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #333;
  transition: all 0.3s ease;
}

.socialMediaIcon:hover {
  transform: translateY(-3px);
  color: #007bff;
}

.twitter:hover {
  color: #1da1f2 ; 
}

.instagram:hover {
  color: #e1306c;
}

.linkedin:hover {
  color: #0077b5;
}

.facebook:hover {
  color: #1877f2;
}

.hashnode:hover {
  color: #2962ff;
}

.github:hover {
  color: #101010;
}

.logo {
  width: 100%;
  height: auto;
}

.person {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .footer{
    margin-left: 9rem;
    padding-top: 0%;
    margin-bottom: 0%;
    display:flex;
    flex-direction: column;
}
  .header{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem ;
   
  }

.para{
  text-align: center;
  padding:0.2rem;
    margin: 0 5rem;

}
.socialMedia {
  text-align: center;
  margin-bottom: 0%;

}
.socialMedia a{
  font-size: 2rem;
}
}
