.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3rem;
}
.header{
    padding: 1rem 2rem;
    background: #fff;
    position: relative;
    z-index: 1000;
    font-size: 2rem;
}

.para{
    padding:1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin: 0 1rem;
}

.socialMedia a{
    color: #000;
    font-size: 3rem;
    margin: 0 1rem;
    transition: color 0.3s linear;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }