@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&family=Nunito&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,200&display=swap');


.image{
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:6;
        height:100%;
        width:100%;
    }
html body{
    margin: 0;
    padding: 0;
   
}

.gridContainer{
    height:95%;
    width:100%;
    background-color:#cde4ff;
    
    margin:0 0.25vw;
    border-radius:10px;
    padding: 15vh 7vw 7vh 7vw;
   

  
    grid-template-columns:repeat(12, 8.33%);
    grid-template-rows:repeat(14 ,7.14%);

}

.eventName{
            font-size: 5vh;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: bolder;
            display: flex;       
}
.workshopButton{
    
    background-color: #cde4ff;
    border-width: 5px;
    border-radius: 25px;
    border-color: #4285F4;
    border-style: solid;
    color: #4285F4;
    padding: 1.3vh 4vw;
    cursor: grab;
    font-size: 2.3vh;
}
.workshopContainer{
          font-family: 'Nunito Sans', sans-serif;
}
.description{
          display: flex;
          font-size: 2.5vh ;
          width:100%;
          font-family: 'Nunito Sans', sans-serif;
          overflow: auto;
          background-color: #FCF8D2;
}

.registerButton{
    background-color: #007bff;
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 1.5vh 4.5vw;
    font-size: 2.3vh;
    font-family: 'Nunito Sans', sans-serif;
    cursor: grab;
}
.registerContainer{
    display: flex;
}
.footer{
          grid-column-start:1;
          grid-column-end:14;
          grid-row-start:10;
          grid-row-end:12;
          height:220%;
          width:90%;
          margin:4% auto;
          display:flex;
          background-color:#FCF8D2;
          margin-top: 3vh;
          border-radius: 15px;
          
}

.ColumnFooter{
    height:100%;
    
    width:33.33%;
    display:flex;
    flex-direction:column;
}

.footerContent{
    text-align: center;
    
}



.footerText1{
   
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 3.5vh;
    margin-top: 1vh;
    color: #858484;
}

.footerText2{
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.75vh;
    color:#858484;
}


.containerHoldingEventDetails{
    display: flex;
    flex-direction: column;
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end:10;
    justify-content: space-between;

}
.sidebysideButtons{
   display:grid;
   padding-top: 2.5vh;
    
}
.sidebysideButtonsregisterContainer{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   display: flex;
   
}
.sidebysideButtonsworkshopContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2 ;
    

}
.sidebysideButtonsregisterContainer .registerButton{
 
    margin: 0 auto;
    margin-right: 1vw;
}
.sidebysideButtonsworkshopContainer .workshopButton{

    margin-left: 1vw;
  
}


 @media screen and (max-width: 768px) {
   .gridContainer{
    display:flex;
    flex-direction: column;
    height: 200%;
    justify-content: space-between;
    padding:5vh 3vw 10vh 3vw;  
}
    .image{
        text-align: center;
    
        
    }
   .footerText1{
    font-size: 2vh;
   }
   .footerText2{
    font-size: 1.5vh;
   }
   .eventName{
    font-size: 3vh;
    align-self: center;
    margin: 2vh;
   }
   .workshopContainer{
    display: none;
   }
   .registerContainer{
    display: none;
   }
}

@media screen and (min-width: 769px) {
    .gridContainer{
        display: grid;
      
    }
    .sidebysideButtons{
        display: none;
    }
    .image{
        margin-left: 5vw;
        margin-top: 5vh;
    }
} 

