.navbar {

    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10px;
    padding: 10px 20px;

}

.logo {
  font-size: 20px;
}

.navLinks {

    list-style: none;
    display: flex;
    padding : 0 0 0 50vw; 
    
}

.navLink {
   
    margin: 0 1vw;
    text-decoration: none;
    list-style: none;
    padding: .5vw 1.5vw;
    border: 2px solid #000;
    border-radius:20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

}

.navLink:hover::before {
  transform: scaleX(1);
}

.navLink:hover {
  transform: translateY(-2px);
}

.navLink:active {
  background-color: blue;
}

.navLink:nth-child(1) {
  border-color: var(--red-color);
}
.navLink:nth-child(1):hover {
  background-color: var(--red-color-light);
}

.navLink:nth-child(2) {
  border-color: var(--blue-color);
}
.navLink:nth-child(2):hover {
  background-color: var(--blue-color-light);
}

.navLink:nth-child(3) {
  border-color: var(--green-color);
}
.navLink:nth-child(3):hover {
  background-color: var(--green-color-light);
}

.navLink:nth-child(4) {
  border-color: var(--yellow-color);
}
.navLink:nth-child(4):hover {
  background-color: var(--yellow-color-light);
}

.button {

    background-color:#000;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: none;
    color:white;    
    font-size: 1.5vw;
    cursor: pointer;
    padding-top: 0.2vw;
    position: relative;
    left: 11vw;
}
a:-webkit-any-link {
    text-decoration: none;
    color: #000;
}
@media screen and (max-width:769px) {
    .navLinks{
        padding-left:20vw;
    }
    .button{
       left: 14vw;
       height: 4vw;
       width: 4vw;
       font-size: 3vw;
       padding-top: 0.4vw;
    }

}